$font-size-base: 0.875rem;
$body-bg: white;
$primary: #1b753a;
$secondary: #73818f;
$success: #4dbd74;
$warning: #ffc107;
$danger: #f86c6b;
$input-bg: white;
$text-muted: #73818f;
$link-color: $primary;
$link-decoration: none;
$link-hover-decoration: underline;
